* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Itim', cursive;
}

.background {
    background-color: #12181B;
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 0; 
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 1em 0; 
}

.hide {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    width: 300px; 
    height: 300px; 
    margin: 0 auto; 
}

.tile {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    aspect-ratio: 1; 
}

.playerX {
    color: #09C372;
}

.playerO {
    color: #498AFB;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #498AFB;
}

#reset {
    background-color: #FF3860;
}
